@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: auto 20;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.47);
  font-family: "Raleway", sans-serif;
}